/***** BASE STYLES *****/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/***** GRID *****/

.container {
    background-color: #0F0F11;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

/***** NAV *****/

.nav-container {
    width: 20%;
    max-width: 100px;
    min-width: 70px;
    border-right: 1px solid #1C1C1C;
}

.nav-content {
    color: white;
    margin-top: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo i {
    font-size: 30px;
}

.home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #00ADFF;
    height: 40px;
    margin-top: 20px;
}

.home-link i {
    color: #00ADFF;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #979797;
}

/***** MAIN *****/

.tweets-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.tweets-search {
    display: flex;
    align-items: center;
    margin: 30px 20px 20px;
    border-bottom: 1px solid #979797;
}

.tweets-search input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0 10px;
}

.tweets-search input:focus {
    border: none;
    outline: none;
}

.tweets-search i {
    color: white;
    font-size: 16px;
    padding-right: 10px;
    cursor: pointer;
}

.tweets-list {
    margin: 20px;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #1C1C1C;
    border-radius: 10px;
    overflow: hidden;
}

.tweet-user-info {
    display: flex;
    align-items: center;
    margin: 10px 0 0 20px;
}

.tweet-user-avatar {
    width: 30px;
    height: 30px;
    border: 1px solid #979797;
    border-radius: 50%;
}

.tweet-user-data {
    color: white;
    margin-left: 8px;
}

.tweet-user-name {
    font-size: 10px;
}

.tweet-user-handle {
    font-size: 8px;
}

.tweet-images-container {
    height: 200px;
    margin: 20px 20px 0;
    border: 1px solid #1C1C1C;
    border-radius: 10px;
}

.tweet-text-container {
    color: rgb(255, 255, 255, 0.74);
    font-size: 15px;
    margin: 20px 20px 0;
}

.tweet-date-container {
    color: #47525D;
    font-size: 10px;
    margin: 10px 20px;
}

/***** TRENDS *****/

.trends-container {
    display: flex;
    flex: 1;
}

.trends-list {
    width: 300px;
    height: 270px;
    margin-top: 30px;
    background-color: rgb(44, 44, 44);
    border: 1px solid #979797;
    border-radius: 10px;
    overflow: hidden;
}

.tweets-trending {
    margin: 10px;
    padding: 20px 0 0;
}

.tweets-trending h4 {
    color: #A5A5A6;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0 0 0 10px;
}

.tweets-trending ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tweets-trending ul li {
    cursor: pointer;
    color: #848586;
    font-size: 22px;
    padding: 8px 0 5px 20px;
    border-bottom: 1px solid #D8D8D8;
}

.tweets-trending ul li:hover {
    background-color: rgb(255, 255, 255, 0.1);
    color: rgb(255, 255, 255, 0.74);
}